*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #CBDDEC;
}

.heading{
  margin-top: 10px;
  text-align: center;

}
.card_style{
  background-color: #fff;
  border-radius: 10px;
}